

h1{
  font-family: 'Bungee', cursive;
  text-align: center;
  font-size: 600px;

}

p{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #2a2e45
}
.carousel{
  background-color: #2a2e45;

}

.carousel-item > img {
  height: 450px;
  margin-left:auto;
  margin-right:auto;
}


.carousel-control-prev,.carousel-control-next {
  cursor:pointer;
}
.jumbotron{
  background-color: #92DCE5 !important;

}

.dogphoto{
  height: 200px;
}
/*

.title{
  z-index: 1;
} */
/* .container{
  display: flex ;
  align-items: center;
} */
/* font-family: 'Bungee', cursive;
font-family: 'Open Sans', sans-serif; */
